@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html {
    margin: 0;
    padding: 0;
    /* background: url("../images/milkyway.jpg") no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

body {
    /* width: 100%; */
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 1px;
    background-color: #39153b;
    color: #ccc;
}

h1 {
    font-size: 48px;
    font-family: 'Julius Sans One', sans-serif;

}

h2 {
    font-size: 38px;
    font-family: 'Julius Sans One', sans-serif;
}

h3 {
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

@media (max-width: 1600px) {
    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 18px;
    }
}
